{% extends "admin/base.html" %}
{% load static %}


{% block title %}Mapa de Rede{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mapa.css' %}">
{% endblock %}

{% block extrahead %}

    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
        window.userIsAdmin = {{ userIsAdmin|yesno:"true,false" }};
        window.userIsSenha = {{ user_is_senha|yesno:"true,false" }};
        window.nodes = {{ nodes|safe }};
        window.links = {{ links|safe }};
    </script>
    <script src="{% static 'js/mapa-init.js' %}"></script>
    <script src="{% static 'js/show_password.js' %}"></script>

{% endblock %}


{% block content_wrapper %}
    {% block content %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <button class="btn btn-primary"
                onclick="abrirPopupEquipamento('/admin/appisp/equipamento/add/?_to_field=id&_popup=1')">
            Adicionar Equipamento
        </button>
        <a href="javascript:history.back()" class="btn btn-primary">FECHAR O MAPA</a>
        <!-- Exibe select da Empresa e Botão de Fechar o mapa-->
        <div style="display: flex; align-items: center; gap: 10px; margin: 10px;">
            <select id="empresa-selector">
                <option value="">Selecione uma Empresa</option>
                {% for empresa in empresas %}
                <option value="{{ empresa.id }}">{{ empresa.nome }}</option>
                {% endfor %}
            </select>

        </div>
        <div style="display: flex; align-items: center; gap: 10px; margin: 10px; ">
            <label for="zoom-slider">Zoom:</label>
            <input type="range" id="zoom-slider" min="0.5" max="3" step="0.1" value="1" style="width: 200px;">
        </div>
        <div style="display: flex; align-items: center; gap: 20px; margin-bottom: 10px;">
            <!-- Switch -->
            <div style="display: flex; flex-direction: column; align-items: center;">
                <svg width="30" height="30">
                    <rect width="30" height="30" fill="blue"></rect>
                </svg>
                <span>Switch</span>
            </div>

            <!-- Servidor -->
            <div style="display: flex; flex-direction: column; align-items: center;">
                <svg width="40" height="30">
                    <rect width="40" height="20" x="0" y="5" fill="gray"></rect>
                    <line x1="5" y1="10" x2="35" y2="10" stroke="black"/>
                    <line x1="5" y1="20" x2="35" y2="20" stroke="black"/>
                </svg>
                <span>Servidor</span>
            </div>

            <!-- OLT -->
            <div style="display: flex; flex-direction: column; align-items: center;">
                <svg width="40" height="20">
                    <rect width="35" height="15" x="2.5" y="2.5" fill="purple"></rect>
                    <circle cx="10" cy="15" r="2" fill="yellow"></circle>
                    <circle cx="20" cy="15" r="2" fill="yellow"></circle>
                    <circle cx="30" cy="15" r="2" fill="yellow"></circle>
                </svg>
                <span>OLT</span>
            </div>
        </div>
        <div style="display: flex; align-items: center; gap: 20px; margin: 10px;">
            <!-- Roteador / AP -->
            <div style="display: flex; flex-direction: column; align-items: center;">
                <svg width="30" height="30">
                    <!-- Círculo -->
                    <circle cx="15" cy="15" r="15" fill="green"></circle>

                    <!-- Linha diagonal 1 (parte do "X") -->
                    <line x1="8" y1="8" x2="22" y2="22" stroke="white" stroke-width="2"></line>

                    <!-- Linha diagonal 2 (parte do "X") -->
                    <line x1="8" y1="22" x2="22" y2="8" stroke="white" stroke-width="2"></line>
                </svg>
                <span>Roteador/AP</span>
            </div>

            <!-- Passivo -->
            <div style="display: flex; flex-direction: column; align-items: center;">
                <svg width="30" height="30">
                    <path d="M 0,30 L 30,30 L 15,0 Z" fill="orange"></path>
                </svg>
                <span>Passivo</span>
            </div>

            <!-- Transporte -->
            <div style="display: flex; flex-direction: column; align-items: center;">
                <svg width="40" height="30">
                    <path d="M5 15 A10 10 0 0 1 20 15 A10 10 0 0 1 35 15 A10 10 0 0 1 30 25 A10 10 0 0 1 10 25 A10 10 0 0 1 5 15 Z"
                          fill="#00F5FF"></path>
                </svg>
                <span>Transporte</span>
            </div>
        </div>
        <!-- Botão de voltar para a página inicial -->
        <!-- Renderiza o mapa na tela-->
        <div id="mapa">
            <!-- <img src="/IDX.png" alt="Fundo do Mapa" style="width: 100%; height: 100%; object-fit: cover;"> -->
        </div>
        <!-- Modal de Detalhes do Equipamento -->
        <div class="modal-overlay" id="modalOverlay"></div>
        <div class="modal" id="modalEquipamento">
            <div class="modal-header">
                Equipamento {nome}
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="input-ip" class="col-sm-2 col-form-label">IP</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-ip" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="input-usuario" class="col-sm-2 col-form-label">Usuário</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-usuario" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="input-senha" class="col-sm-2 col-form-label">Senha</label>
                        <div class="input-group-prepend">
                            <button type="button"
                                    class="btn"
                                    onclick="togglePassword('input-senha', this)"
                                    title="Mostrar/Ocultar Senha">
                                👁
                            </button>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">

                                <input type="password" class="form-control" id="input-senha" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="input-porta" class="col-sm-2 col-form-label">Porta</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-porta" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="input-protocolo" class="col-sm-2 col-form-label">Protocolo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-protocolo" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="input-pop" class="col-sm-2 col-form-label">Pop</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-pop" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="input-observacao" class="col-sm-2 col-form-label">Observação</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="input-observacao" readonly></textarea>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="closeModal">Fechar</button>
            </div>
        </div>
        <!-- Modal de Detalhes de Conexão -->
        <div class="modal-overlay" id="modalOverlayConexao"></div>
        <div class="modal-conexao" id="modalConexao">
            <div class="modal-header">
                <div class="modal-conexao-header">
                    Conexão: {tipo}
                </div>
            </div>

            <div class="modal-conexao-body px-3 py-2">
                <div class="mb-2 row">
                    <label class="col-sm-3 col-form-label"><strong>Tipo:</strong></label>
                    <div class="col-sm-9 col-form-label">{tipo}</div>
                </div>
                <div class="mb-2 row">
                    <label class="col-sm-3 col-form-label"><strong>Velocidade:</strong></label>
                    <div class="col-sm-9 col-form-label">{velocidade}</div>
                </div>
                <div class="mb-2 row">
                    <label class="col-sm-3 col-form-label"><strong>Fonte:</strong></label>
                    <div class="col-sm-9 col-form-label">{fonte}</div>
                </div>
                <div class="mb-2 row">
                    <label class="col-sm-3 col-form-label"><strong>Destino:</strong></label>
                    <div class="col-sm-9 col-form-label">{destino}</div>
                </div>
            </div>

            <div class="modal-conexao-footer">
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" id="excluirConexaoBtn">Excluir Conexão</button>

                    <button type="button" class="btn btn-danger" id="fecharConexaoBtn">Fechar</button>
                </div>
            </div>
        </div>
        <!-- Modal de DropDown List para portas-->
        <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <form method="post" class="form-horizontal" style="pading:20px;">
                    <div id="portaModal" class="modal" style="display:none;">
                        <div class="modal-content">

                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                            <h3>Conexão de portas</h3></br>


                            <div class="form-group field-tipo">
                                <div class="row">
                                    <div class="col-sm-4 text-left">
                                        <label for="porta-dropdown">Porta de Origem</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select id="porta-dropdown">
                                            <option value="">Selecione uma porta</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group field-tipo">
                                <div class="row">
                                    <div class="col-sm-4 text-left">
                                        <label for="equipamento-dropdown">Equipamento Destino</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select id="equipamento-dropdown">
                                            <option value="">Selecione um equipamento</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group field-tipo">
                                <div class="row">
                                    <div class="col-sm-4 text-left">
                                        <label for="porta-destino-dropdown" class="form-label">Porta de Destino</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select id="porta-destino-dropdown">
                                            <option value="">Selecione uma porta</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group field-tipo">
                                <div class="row">
                                    <div class="col-sm-4 text-left">
                                        <label for="observacao" class="form-label">Observação</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <textarea id="observacao" class="form-control" rows="5" style="width: 100%;"
                                                  placeholder="Digite uma observação ..."></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form">
                                <button id="conectar" type="button" class="btn btn-primary">Conectar Portas</button>
                                <!-- Botão para fechar o modal -->
                                <button id="closeModalConexao" type="button" class="btn btn-danger close-modal-button">
                                    Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}