{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
<div class="object-tools">
    <a href="/alertas_vlans/" class="btn btn-alert">
        {% trans "Vlan alertas" %}
    </a>
</div>
<div class="object-tools">
    <a href="/mapa_vlans/" class="btn btn-alert">
        {% trans "Mapa de vlans" %}
    </a>
</div>
<div class="object-tools">
    <a href="/relatorio_vlans/" class="btn btn-alert">
        {% trans "Relatório de Vlans" %}
    </a>
</div>
{{ block.super }}
{% endblock %}
