/* Conteúdo de mapa.css extraído do bloco <style> */
.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#mapa {
    width: 100%;
    height: 1024px;
    border: 1px solid #ccc;
    background-color: #ecf0f0;
}

.equipamento {
    cursor: pointer;
    transition: transform 0.2s;
}

.equipamento:hover {
    stroke: #007bff;
    stroke-width: 4px;
}

.porta {
    fill: #007bff;
    cursor: pointer;
}

.porta:hover {
    fill: #0056b3;
}

element.style {
    width: 90%;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#mapa {
    width: 100%;
    height: 75vh;
    border: 1px solid #ccc;
    background-color: #ecf0f0;
}

.equipamento {
    cursor: pointer;
    transition: transform 0.2s;
}

.equipamento:hover {
    cursor: pointer;
    stroke: #007bff;
    stroke-width: 4px;
}

.porta {
    fill: #007bff;
    cursor: pointer;
}

.porta:hover {
    fill: #0056b3;
}

/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-30%, -40%);
    background-color: #454d55;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 550px;
    height: auto;
    z-index: 1000;
}

.modal.show {
    display: block;
}

.modal-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-footer {
    text-align: right;
}

.close-modal {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.close-modal:hover {
    background-color: #cc0000;
}

/* Estilo de fundo para o efeito de overlay */
.modal-overlay {
    position: fixed;
    background-color: #454d55;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; /* Inicialmente oculto */
}

/* Estilo do modal de conexão */
.modal-conexao {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o modal */
    background-color: #454d55;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Tornar o modal visível */
.modal-conexao.show {
    display: block;
}

/* Cabeçalho do modal */
.modal-conexao-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

select {
    padding: 5px;
    font-size: 14px;
    background-color: #343a40;
    color: #fff;
}

/* Corpo do modal */
.modal-conexao-body {
    margin-bottom: 20px;
}

.modal-body .form-group {
    margin-bottom: 15px;
}

/* Rodapé do modal */
.modal-conexao-footer {
    text-align: right;
}

/* Estilo do botão de fechar */
.close-conexao-modal {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.close-conexao-modal:hover {
    background-color: #cc0000;
}

/* Estilo de fundo para o efeito de overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; /* Inicialmente oculto */
}

.dark-mode .modal-content {
    padding: 30px;
}

.dark-mode select {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

@media (max-width: 2800px) {
    .modal {
        width: 650px;
    }

    .modal-conexao {
        width: 650px;
    }
}

@media (max-width: 1400px) {
    .modal {
        width: 650px;
    }

    .modal-conexao {
        width: 650px;
    }
}

@media (max-width: 1200px) {
    .modal {
        width: 550px;
    }

    .modal-conexao {
        width: 550px;
    }
}

@media (max-width: 900px) {
    .modal {
        width: calc(60% - 30px);
    }

    .modal-conexao {
        width: calc(60% - 30px);
    }
}

@media (max-width: 600px) {
    .modal {
        width: 80%;
    }

    .modal-conexao {
        width: 80%;
    }
}

.ck.ck-toolbar {
    background-color: #212529 !important; /* Fundo escuro para combinar com Bootstrap Dark */
    color: #ffffff !important; /* Texto branco */
    border-bottom: 1px solid #6c757d !important;
}

.ck.ck-toolbar .ck-button {
    color: #ffffff !important; /* Ícones e textos brancos */
}

.ck.ck-toolbar .ck-button:hover {
    background-color: #495057 !important; /* Fundo ao passar o mouse */
}

.ck-editor__editable {
    min-height: 150px !important; /* Altura mínima */
    max-height: 300px !important; /* Evita que cresça demais */
    overflow-y: auto !important; /* Adiciona rolagem se necessário */
    background-color: #fff !important; /* Fundo escuro para combinar com Bootstrap Dark */
    color: #000 !important; /* Texto branco */
    border: 1px solid #6c757d !important; /* Borda para separar do fundo */
}

.ck.ck-toolbar {
    background-color: #212529 !important; /* Fundo da barra de ferramentas */
    border-bottom: 1px solid #6c757d !important;
}

.ck.ck-editor__editable:focus {
    outline: none !important; /* Remove o contorno azul ao clicar */
}
